<h1>New pet</h1>

<%= form_with model: @pet do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :species %>
  <%= f.select :species, Pet::SPECIES %>
  <%= f.label :found_on %>
  <%= f.date_field :found_on %> <!-- date_field is the format supported to create a new pet -->
  <%= f.submit %>
<% end %>

<br>
<hr>
<%= link_to 'back home', pets_path %>
